<script>
  var __setCssStartTime__ = Date.now();
  if (typeof __insertRootCompCss__ === 'function') __insertRootCompCss__('components/Specifications/Specifications');
  else __wxAppCode__['components/Specifications/Specifications.wxss']();;
  var __setCssEndTime__ = Date.now();
  (function() {
      var gf = $gwx_XC_0('./components/Specifications/Specifications.wxml');
      if (window.__wxAppCodeReadyCallback__) window.__wxAppCodeReadyCallback__(gf);
      else document.dispatchEvent(new CustomEvent('generateFuncReady', {
          detail: {
              generateFunc: gf
          }
      }));
  })();
</script>