<script>
  var __setCssStartTime__ = Date.now();
  if (typeof __insertRootCompCss__ === 'function') __insertRootCompCss__('node-modules/@dmall/jimoui-mp/components/SortListMenu/SortListMenu');
  else __wxAppCode__['node-modules/@dmall/jimoui-mp/components/SortListMenu/SortListMenu.wxss']();;
  var __setCssEndTime__ = Date.now();
  (function() {
      var gf = $gwx_XC_18('./node-modules/@dmall/jimoui-mp/components/SortListMenu/SortListMenu.wxml');
      if (window.__wxAppCodeReadyCallback__) window.__wxAppCodeReadyCallback__(gf);
      else document.dispatchEvent(new CustomEvent('generateFuncReady', {
          detail: {
              generateFunc: gf
          }
      }));
  })();
</script>