<script>
  var __setCssStartTime__ = Date.now();
  if (typeof __insertRootCompCss__ === 'function') __insertRootCompCss__('packageCmsComp/components/CMS/components/TwoItems/TwoItems');
  else __wxAppCode__['packageCmsComp/components/CMS/components/TwoItems/TwoItems.wxss']();;
  var __setCssEndTime__ = Date.now();
  (function() {
      var gf = $gwx8_XC_3('./packageCmsComp/components/CMS/components/TwoItems/TwoItems.wxml');
      if (window.__wxAppCodeReadyCallback__) window.__wxAppCodeReadyCallback__(gf);
      else document.dispatchEvent(new CustomEvent('generateFuncReady', {
          detail: {
              generateFunc: gf
          }
      }));
  })();
</script>