<script>
  var __setCssStartTime__ = Date.now();
  if (typeof __insertRootCompCss__ === 'function') __insertRootCompCss__('packageAssets/discount/components/progress/progress');
  else __wxAppCode__['packageAssets/discount/components/progress/progress.wxss']();;
  var __setCssEndTime__ = Date.now();
  (function() {
      var gf = $gwx15_XC_10('./packageAssets/discount/components/progress/progress.wxml');
      if (window.__wxAppCodeReadyCallback__) window.__wxAppCodeReadyCallback__(gf);
      else document.dispatchEvent(new CustomEvent('generateFuncReady', {
          detail: {
              generateFunc: gf
          }
      }));
  })();
</script>