<script>
  var __setCssStartTime__ = Date.now();
  if (typeof __insertRootCompCss__ === 'function') __insertRootCompCss__('packageAssets/superValueCard/components/BottomLoading/BottomLoading');
  else __wxAppCode__['packageAssets/superValueCard/components/BottomLoading/BottomLoading.wxss']();;
  var __setCssEndTime__ = Date.now();
  (function() {
      var gf = $gwx15_XC_18('./packageAssets/superValueCard/components/BottomLoading/BottomLoading.wxml');
      if (window.__wxAppCodeReadyCallback__) window.__wxAppCodeReadyCallback__(gf);
      else document.dispatchEvent(new CustomEvent('generateFuncReady', {
          detail: {
              generateFunc: gf
          }
      }));
  })();
</script>