<script>
  var __setCssStartTime__ = Date.now();
  if (typeof __insertRootCompCss__ === 'function') __insertRootCompCss__('node-modules/@dmall/jimoui-mp/components/CellItem/CellItem');
  else __wxAppCode__['node-modules/@dmall/jimoui-mp/components/CellItem/CellItem.wxss']();;
  var __setCssEndTime__ = Date.now();
  (function() {
      var gf = $gwx_XC_2('./node-modules/@dmall/jimoui-mp/components/CellItem/CellItem.wxml');
      if (window.__wxAppCodeReadyCallback__) window.__wxAppCodeReadyCallback__(gf);
      else document.dispatchEvent(new CustomEvent('generateFuncReady', {
          detail: {
              generateFunc: gf
          }
      }));
  })();
</script>