<script>
  var __setCssStartTime__ = Date.now();
  if (typeof __insertRootCompCss__ === 'function') __insertRootCompCss__('pages/components/Mine/IconManage/IconManage');
  else __wxAppCode__['pages/components/Mine/IconManage/IconManage.wxss']();;
  var __setCssEndTime__ = Date.now();
  (function() {
      var gf = $gwx_XC_26('./pages/components/Mine/IconManage/IconManage.wxml');
      if (window.__wxAppCodeReadyCallback__) window.__wxAppCodeReadyCallback__(gf);
      else document.dispatchEvent(new CustomEvent('generateFuncReady', {
          detail: {
              generateFunc: gf
          }
      }));
  })();
</script>