<style></style>
<page></page>
<script>
  var __setCssStartTime__ = Date.now();
  __wxAppCode__['plugin-private://wx1fe8d9a3cb067a75/components/index/index.wxss']();
  var __setCssEndTime__ = Date.now();
  (function() {
      var gf = $gwx_wx1fe8d9a3cb067a75('./components/index/index.wxml');
      if (window.__wxAppCodeReadyCallback__) {
          window.__wxAppCodeReadyCallback__(gf);
      } else {
          document.dispatchEvent(new CustomEvent("generateFuncReady", {
              detail: {
                  generateFunc: gf
              }
          }));
      }
  })();
</script>