<script>
  var __setCssStartTime__ = Date.now();
  if (typeof __insertRootCompCss__ === 'function') __insertRootCompCss__('packageAssets/coupon/skylCoupon/components/BarCodeModal/BarCodeModal');
  else __wxAppCode__['packageAssets/coupon/skylCoupon/components/BarCodeModal/BarCodeModal.wxss']();;
  var __setCssEndTime__ = Date.now();
  (function() {
      var gf = $gwx15_XC_6('./packageAssets/coupon/skylCoupon/components/BarCodeModal/BarCodeModal.wxml');
      if (window.__wxAppCodeReadyCallback__) window.__wxAppCodeReadyCallback__(gf);
      else document.dispatchEvent(new CustomEvent('generateFuncReady', {
          detail: {
              generateFunc: gf
          }
      }));
  })();
</script>