<script>
  var __setCssStartTime__ = Date.now();
  if (typeof __insertRootCompCss__ === 'function') __insertRootCompCss__('packageWare/comboDetail/components/PromotionItem/PromotionItem');
  else __wxAppCode__['packageWare/comboDetail/components/PromotionItem/PromotionItem.wxss']();;
  var __setCssEndTime__ = Date.now();
  (function() {
      var gf = $gwx3_XC_1('./packageWare/comboDetail/components/PromotionItem/PromotionItem.wxml');
      if (window.__wxAppCodeReadyCallback__) window.__wxAppCodeReadyCallback__(gf);
      else document.dispatchEvent(new CustomEvent('generateFuncReady', {
          detail: {
              generateFunc: gf
          }
      }));
  })();
</script>