<script>
  var __setCssStartTime__ = Date.now();
  if (typeof __insertRootCompCss__ === 'function') __insertRootCompCss__('packageAssets/giftCoupon/components/Coupon/CouponOnline/CouponOnline');
  else __wxAppCode__['packageAssets/giftCoupon/components/Coupon/CouponOnline/CouponOnline.wxss']();;
  var __setCssEndTime__ = Date.now();
  (function() {
      var gf = $gwx15_XC_13('./packageAssets/giftCoupon/components/Coupon/CouponOnline/CouponOnline.wxml');
      if (window.__wxAppCodeReadyCallback__) window.__wxAppCodeReadyCallback__(gf);
      else document.dispatchEvent(new CustomEvent('generateFuncReady', {
          detail: {
              generateFunc: gf
          }
      }));
  })();
</script>