<script>
  var __setCssStartTime__ = Date.now();
  if (typeof __insertRootCompCss__ === 'function') __insertRootCompCss__('packageExternal/components/clock/clock');
  else __wxAppCode__['packageExternal/components/clock/clock.wxss']();;
  var __setCssEndTime__ = Date.now();
  (function() {
      var gf = $gwx18_XC_0('./packageExternal/components/clock/clock.wxml');
      if (window.__wxAppCodeReadyCallback__) window.__wxAppCodeReadyCallback__(gf);
      else document.dispatchEvent(new CustomEvent('generateFuncReady', {
          detail: {
              generateFunc: gf
          }
      }));
  })();
</script>