<script>
  var __setCssStartTime__ = Date.now();
  if (typeof __insertRootCompCss__ === 'function') __insertRootCompCss__('node-modules/@dmall/jimoui-mp/components/Button/Button');
  else __wxAppCode__['node-modules/@dmall/jimoui-mp/components/Button/Button.wxss']();;
  var __setCssEndTime__ = Date.now();
  (function() {
      var gf = $gwx_XC_43('./node-modules/@dmall/jimoui-mp/components/Button/Button.wxml');
      if (window.__wxAppCodeReadyCallback__) window.__wxAppCodeReadyCallback__(gf);
      else document.dispatchEvent(new CustomEvent('generateFuncReady', {
          detail: {
              generateFunc: gf
          }
      }));
  })();
</script>